
web/.pnp
web/.pnp.js
web/coverage
web/build
web/node_modules

web/.env

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

backend/node_modules
